
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

header { /* Header style: Logo, bank name and slogan */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color: #fab1a0;
    border-bottom: 1px solid #ccc;  /* add thin bottom border */
}

.logo img{
    width: 200px;
    border-radius: 20px;
}

/* Main container holding the left, main, and right sections */
.container {
    display: flex;
    align-items: center;
 
}

.welcome-section {
    text-align: center; 
}

aside.left-panel {
    width: 25%;
    background-color: #ffffff;
    padding: 30px;
    border-right: 1px solid #ccc; /* add thin right border */
}

.left-panel ul {
    padding: 0;
}

.left-panel ul li {
    display: flex;
    justify-content: space-between; /* Adds space between content and prices */
    padding: 10px 0; /* Adds padding above and below each item */
    border-bottom: 1px solid #eee;
}

main {
    width: 50%;
    padding: 30px;
    background-color: #ffffff;
    border-right: 1px solid #ccc; /* Add thin right border */
}

main h2 {
    font-size: 20px;
}

aside.right-panel {
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 60px 30px; /* Add padding at top and sides */
    background-color: #ffffff;
}

footer {
    width: 100%;
    text-align: center;
    padding: 20px 0;
    background-color: #fab1a0;
    border-top: 1px solid #ccc;  
}

.footer-links {
    display: flex;
    text-align: center;
    justify-content: space-evenly; /* Distributes links evenly across footer */

}

.footer-links a {
    text-decoration: none;  /* Removes underline from links */
    color: #fff;
    font-size: 18px;
}

.user-info1, .user-info2, .user-info3 {
    border: 2px solid #000;  /* Adds a black border around cards */
    border-radius: 50px; /* Rounds the corners */
    background-color: #f4f4f4;
    text-align: center;
    box-shadow: 5px 5px 12px #0303;
}
